<div class="imgBackGround">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-6 dvContact">
                <div>
                    <h1>Contacto</h1>
                </div> 
                <hr class="hrContact">
                <form>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label class="labelForm">Nombre(s)</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="labelForm">Apellido</label>
                            <input class="form-control" type="text">    
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label class="labelForm">Correo electrónico</label>
                            <input class="form-control" type="email">    
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="labelForm">Teléfono</label>
                            <input class="form-control" type="text">    
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12">
                            <label class="labelForm">Mensaje</label>                
                            <textarea class="form-control" rows="4"></textarea> 
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12">
                            <input class="btn btn-outline-light" style="float: right" type="submit" value="Enviar">
                        </div>                        
                    </div>
                </form>
            </div>        
        </div>
    </div>
</div>