/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@media only screen and (max-width: 700px) {

    #rt-main, #rt-header, .rt-container, .rt-container .rt-grid-8, .rt-container .rt-grid-8,.rt-container .rt-grid-9, .footer-container, .rt-container .rt-grid-3, .rt-container .rt-grid-6 {width: 99%;}
    
     body{min-width: 100%;}
    
     .rt-container .rt-grid-4 {display: none;}
    
    }
.footer{
    background-color: black;
    position: fixed;
    bottom: 0%;    
}

h1{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2em;
    color: white;
    font-style: italic;
    width: 100%;
    text-align: center;
}

.dvContact{
    
    background-color:rgba(169, 169, 169, 0.438);
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
}

.hrContact{
    background-color: white;
    height: 0.1;
}

.labelForm{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1em;
    color:white;
    font-style: italic;
    font-weight: bold;
}

.imgBackGround{
    background: url("/assets/Images/imgContact.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px;
    height: unset;   
}

